<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      {% load static %}
    <link rel="stylesheet" href="{% static 'esl_app/forgot.css' %}">
    <link rel="stylesheet" href="{% static 'esl_app/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
  </head>
  <body>

{#<main class="form-signin">#}
{#  <form method="post" action="{% url 'forgot' %}">#}
{#    {% csrf_token %}#}
{#    <h1 class="h3 mb-3 fw-normal">Восстановление пароля</h1>#}
{##}
{#    <div class="form-floating">#}
{#      <input type="user_name" class="form-control" id="floatingInput {{ form.username.id_for_label }}" placeholder="user_name" name="{{ form.username.html_name }}">#}
{#      <label for="floatingPassword">{{ form.username.label }}</label>#}
{#    </div>#}
{##}
{#    <div class="form-floating">#}
{#      <input type="password" class="form-control" id="floatingPassword {{ form.password.id_for_label }}" placeholder="Password" name="{{ form.password.html_name }}">#}
{#      <label for="floatingPassword">{{ form.password.label }}</label>#}
{#    </div>#}
{#    <div class="form-floating">#}
{#      <input type="password" class="form-control" id="floatingPassword {{ form.password_confirmation.id_for_label }}" placeholder="Password" name="{{ form.password_confirmation.html_name }}">#}
{#      <label for="floatingPassword">{{ form.password_confirmation.label }}</label>#}
{#    </div>#}
{##}
{##}
{#    <div class="checkbox mb-3">#}
{##}
{#    </div>#}
{#    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Submit">Восстановить</button>#}
{##}
{#  </form>#}
{#</main>#}
  </body>
</html>