<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'esl_app/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <title>Main</title>
</head>
<body>


{#            <nav class="nav">#}
{#                <a class="nav__link active" href="{% url 'tests' %}">Тесты</a>#}
{#                {% if is_authenticated %}#}
{#                    <a class="nav__link" href="{% url 'profile' %}">Профиль</a>#}
{#                    <a class="nav__link" href="{% url 'logout' %}">Выйти</a>#}
{#                {% else %}#}
{#                    <a class="nav__link" href="{% url 'login' %}">Вход</a>#}
{#                    <a class="nav__link" href="{% url 'register' %}">Регистрация</a>#}
{#                {% endif %}#}
{#            </nav>#}

{#            <a class="btn" href="{% url 'tests' %}">Начать решать</a>#}


</body>
</html>
