<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Регистрация</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'esl_app/register.css' %}">
    <link rel="stylesheet" href="{% static 'esl_app/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
  </head>
  <body class="text-center bg-light">
     <main class="form-signin">
          <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
              {% csrf_token %}
            <a href="{% url 'main' %}"><img class="mb-1" src="{% static 'esl_app/english.png' %}" alt="" width="100" height="100"></a>
            <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

            <div class="form-floating mb-2">
              <input type="email" class="form-control" id="floatingInput {{ user_form.email.id_for_label }}" placeholder="name@example.com" name="{{ user_form.email.html_name }}">
              <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                {% if user_form.email.errors %}
                    {% for error in user_form.email.errors %}
                        <p class="fs-6 text-danger mt-1">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
          <div class="form-floating mb-2">
              <input type="text" class="form-control" id="floatingPassword {{ user_form.username.id_for_label }}" placeholder="Password" name="{{ user_form.username.html_name }}">
              <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                {% if user_form.username.errors %}
                    {% for error in user_form.username.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
          <div class="form-floating mb-2">
              <input type="text" class="form-control" id="floatingPassword {{ user_form.first_name.id_for_label }}" placeholder="Password" name="{{ user_form.first_name.html_name }}">
              <label for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}</label>
                {% if user_form.first_name.errors %}
                    {% for error in user_form.first_name.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-floating mb-2">
              <input type="password" class="form-control" id="floatingPassword {{ user_form.password.id_for_label }}" placeholder="Password" name="{{ user_form.password.html_name }}">
              <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                {% if user_form.password.errors %}
                    {% for error in user_form.password.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
          <div class="form-floating mb-2">
              <input type="password" class="form-control" id="floatingPassword {{ user_form.password2.id_for_label }}" placeholder="Password" name="{{ user_form.password2.html_name }}">
              <label for="{{ user_form.password2.id_for_label }}">{{ user_form.password2.label }}</label>
                {% if user_form.password2.errors %}
                    {% for error in user_form.password2.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
          <div class="form-text mb-2">
                    Пароль должен содержать: буквы латинского алфавита, цифры и спецсимволы
          </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
            <div class="container mt-3">
                <a class="text-info" href="{% url 'main' %}">Вернуться на главную</a>
            </div>
          </form>
     </main>
  </body>
</html>