<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Регистрация</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'esl_app/register.css' %}">
    <link rel="stylesheet" href="{% static 'esl_app/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
  </head>
  <body>

{#<main class="form-signin">#}
{#  <form method="post" action="{% url 'register' %}">#}
{#    {% csrf_token %}#}
{#    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>#}
{##}
{#    <div class="form-floating">#}
{#      <input type="text" class="form-control" id="floatingInput {{ user_form.username.id_for_label }}" placeholder="user_name" name="{{ user_form.username.html_name }}">#}
{#      <label for="floatingPassword">{{ user_form.username.label }}</label>#}
{#    </div>#}
{#    <div class="form-floating">#}
{#      <input type="email" class="form-control" id="floatingInput {{ user_form.email.id_for_label }}" placeholder="name@example.com" name="{{ user_form.email.html_name }}">#}
{#      <label for="floatingInput">{{ user_form.email.label }} </label>#}
{#    </div>#}
{#      <div class="form-floating">#}
{#      <input type="text" class="form-control" id="floatingInput {{ user_form.first_name.id_for_label }}" placeholder="Ivan" name="{{ user_form.first_name.html_name }}">#}
{#      <label for="floatingInput">{{ user_form.first_name.label }} </label>#}
{#    </div>#}
{#    <div class="form-floating">#}
{#      <input type="password" class="form-control" id="floatingPassword {{ user_form.password.id_for_label }}" placeholder="Password" name="{{ user_form.password.html_name }}">#}
{#      <label for="floatingPassword">{{ user_form.password.label }}</label>#}
{#    </div>#}
{#    <div class="form-floating">#}
{#      <input type="password" class="form-control" id="floatingPassword {{ user_form.password2.id_for_label }}" placeholder="Password" name="{{ user_form.password2.html_name }}">#}
{#      <label for="floatingPassword">{{ user_form.password2.label }}</label>#}
{#    </div>#}
{##}
{##}
{#    <div class="checkbox mb-3">#}
{##}
{#    </div>#}
{#    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Submit">Зарегистрироваться</button>#}
{##}
{#  </form>#}
{#</main>#}
  </body>
</html>