{#{% if some_test %}#}
{#    <h1>{{some_test.test_name}}</h1>#}
{#    <h3>{{some_test.test_description}}</h3>#}
{#    <h3>{{some_test.level}}</h3>#}
{#    <h3>{{some_test.aspect}}</h3>#}
{#    <h4>{{some_test.time_limit}} minutes</h4>#}
{#    <button id="start-button">Начать выполнение</button>#}
{#{% endif %}#}
{#{% block javascript %}#}
{#    <script>#}
{##}
{#    </script>#}
{#{% endblock %}#}
<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    {% block style %}

    {% endblock style %}

</head>


<body>

    {% block content %}
        <div id="test-info">
            {% if some_test %}
                <h1>{{some_test.test_name}}</h1>
                <h3>{{some_test.test_description}}</h3>
                <h3>{{some_test.level}}</h3>
                <h3>{{some_test.aspect}}</h3>
                <h4>{{some_test.time_limit}} minutes</h4>
                <button id="start-button">Начать выполнение</button>
            {% endif %}
        </div>
        <div id="completion">

        </div>
    {% endblock content %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {% block javascript %}
        <script>
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');
            $('button#start-button').click(function (event) {
                $.ajax({
                    method: 'GET',
                    url: '{% url 'start_test' test_id=some_test.id %}',
                    data: {},
                    success: function (data) {
                        let choices = '';
                        if (data.type_of_question === 'Single') {
                            for (let i = 0; i < data.num_of_answers; i++) {
                                choices += '<input class="answer" type="radio" value="' + data.answers[i][0] + '" name="answer' + (i+1) + '">' + '\n';
                                choices += '<label for="answer ' + (i+1) + '">' + data.answers[i][0] + '</label><br>';
                            }
                        }
                        else if (data.type_of_question === 'Multiple') {
                            for (let i = 0; i < data.num_of_answers; i++) {
                                choices += '<input class="answer" type="checkbox" value=" ' + data.answers[i][0] + '"name="answer"' + (i+1) + '>' + '\n';
                                choices += '<label for="answer ' + (i+1) + '">' + data.answers[i][0] + '</label><br>';
                            }
                        }
                        else {
                            choices += '<input type="text" name="answer1" class="answer">';
                        }
                        $('#test-info').hide();
                        $('#completion').append(`<form method="post" class="question-form" data-amount="` + data.num_of_answers + `" data-count="` + data.num_of_question + `">{% csrf_token %}<h3 id="question_text">` + data.question_text + `</h3>` + choices + `<input onclick="respond()" id="respond-btn" type="button" value="Ответить"></form>`);
                        let next_btn = ``;
                        if (data.is_last) {
                            next_btn = `<input type="button" value="Следующий вопрос" id="next-btn" onclick="next()" style="display: none;" disabled="">`;
                        }
                        else {
                            next_btn = `<input type="button" value="Следующий вопрос" id="next-btn" onclick="next()" style="display: none;">`;
                        }
                        let prev_btn = ``;
                        if (data.num_of_question === 1) {
                            prev_btn = `<input type="button" value="Предыдущий вопрос" id="prev-btn" onclick="prev()" style="display: none;" disabled="">`;
                        }
                        else {
                            prev_btn = `<input type="button" value="Предыдущий вопрос" id="prev-btn" onclick="prev()" style="display: none;">`;
                        }
                        let finish_btn = ``;
                        if (data.is_last) {
                            finish_btn = `<input type="button" value="Завершить тестирование" id="finish-btn" onclick="finish()" style="display: none;">`;
                        }
                        else {
                            finish_btn = `<input type="button" value="Завершить тестирование" id="finish-btn" onclick="finish()" style="display: none;" disabled="">`;
                        }
                        $('#completion').append(next_btn, prev_btn, finish_btn);
                    }
                });
            });

            function respond() {
                let answer = '';
                let input_type = $('input.answer').attr('type');
                if (input_type === 'radio') {
                    answer = $('input.answer:checked').val();
                }
                else if (input_type === 'checkbox') {
                    answer = $('input.answer:checked').each(function (index) {
                        answer += this.val() + '|';
                    });
                }
                else {
                    answer = $('input.answer').val();
                }
                let question_text = $('#question_text').text();
                $.ajax({
                    method: 'POST',
                    url: '{% url 'respond' test_id=some_test.id %}',
                    data: {
                        'question_text': question_text,
                        'answer': answer
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        if (data.is_correct === true) {
                            let congrats_message = `<h3>Поздравляем! Вы ответили правильно</h3>`;
                            $('#completion').prepend(congrats_message);
                            $('input.answer').prop('disabled', true);
                            $('#respond-btn').prop('disabled', true);
                            $('#next-btn').show();
                            $('#prev-btn').show();
                            $('#finish-btn').show();
                        }
                        else {
                            let error_message = `<h3>К сожалению, вы ответили неверно</h3>`;
                            $('#completion').prepend(error_message);
                            $('input.answer').prop('disabled', true);
                            $('#respond-btn').prop('disabled', true);
                            $('#next-btn').show();
                            $('#prev-btn').show();
                            $('#finish-btn').show();
                        }
                    },
                    error: function () {
                        console.log("Something went wrong!");
                    }
                });
            }
            function next() {
                let num_of_question = $('.question-form').attr('count');
                $.ajax({
                   method: 'GET',
                   url: '{% url 'next_question' test_id=some_test.id %}',
                   data: {
                       'count': num_of_question
                   },
                   success: function (data) {
                       let choices = '';
                        if (data.type_of_question === 'Single') {
                            for (let i = 0; i < data.num_of_answers; i++) {
                                choices += '<input class="answer" type="radio" value="' + data.answers[i][0] + '" name="answer' + (i+1) + '">' + '\n';
                                choices += '<label for="answer ' + (i+1) + '">' + data.answers[i][0] + '</label><br>';
                            }
                        }
                        else if (data.type_of_question === 'Multiple') {
                            for (let i = 0; i < data.num_of_answers; i++) {
                                choices += '<input class="answer" type="checkbox" value=" ' + data.answers[i][0] + '"name="answer"' + (i+1) + '>' + '\n';
                                choices += '<label for="answer ' + (i+1) + '">' + data.answers[i][0] + '</label><br>';
                            }
                        }
                        else {
                            choices += '<input type="text" name="answer1" class="answer">';
                        }
                        $('#test-info').hide();
                        $('#completion').append(`<form method="post" class="question-form" data-amount="` + data.num_of_answers + `" data-count="` + data.num_of_question + `">{% csrf_token %}<h3 id="question_text">` + data.question_text + `</h3>` + choices + `<input onclick="respond()" id="respond-btn" type="button" value="Ответить"></form>`);
                        let next_btn = ``;
                        if (data.is_last) {
                            next_btn = `<input type="button" value="Следующий вопрос" id="next-btn" onclick="next()" style="display: none;" disabled="">`;
                        }
                        else {
                            next_btn = `<input type="button" value="Следующий вопрос" id="next-btn" onclick="next()" style="display: none;">`;
                        }
                        let prev_btn = ``;
                        if (data.num_of_question === 1) {
                            prev_btn = `<input type="button" value="Предыдущий вопрос" id="prev-btn" onclick="prev()" style="display: none;" disabled="">`;
                        }
                        else {
                            prev_btn = `<input type="button" value="Предыдущий вопрос" id="prev-btn" onclick="prev()" style="display: none;">`;
                        }
                        let finish_btn = ``;
                        if (data.is_last) {
                            finish_btn = `<input type="button" value="Завершить тестирование" id="finish-btn" onclick="finish()" style="display: none;">`;
                        }
                        else {
                            finish_btn = `<input type="button" value="Завершить тестирование" id="finish-btn" onclick="finish()" style="display: none;" disabled="">`;
                        }
                        $('#completion').append(next_btn, prev_btn, finish_btn);
                   }
                });
            }
            function prev() {
                let num_of_question = $('.question-form').attr('count');
                $.ajax({
                   method: 'GET',
                   url: '{% url 'previous_question' test_id=some_test.id %}',
                   data: {
                       'count': num_of_question
                   },
                   success: function (data) {
                       let choices = '';
                        if (data.type_of_question === 'Single') {
                            for (let i = 0; i < data.num_of_answers; i++) {
                                choices += '<input class="answer" type="radio" value="' + data.answers[i][0] + '" name="answer' + (i+1) + '">' + '\n';
                                choices += '<label for="answer ' + (i+1) + '">' + data.answers[i][0] + '</label><br>';
                            }
                        }
                        else if (data.type_of_question === 'Multiple') {
                            for (let i = 0; i < data.num_of_answers; i++) {
                                choices += '<input class="answer" type="checkbox" value=" ' + data.answers[i][0] + '"name="answer"' + (i+1) + '>' + '\n';
                                choices += '<label for="answer ' + (i+1) + '">' + data.answers[i][0] + '</label><br>';
                            }
                        }
                        else {
                            choices += '<input type="text" name="answer1" class="answer">';
                        }
                        $('#test-info').hide();
                        $('#completion').append(`<form method="post" class="question-form" data-amount="` + data.num_of_answers + `" data-count="` + data.num_of_question + `">{% csrf_token %}<h3 id="question_text">` + data.question_text + `</h3>` + choices + `<input onclick="respond()" id="respond-btn" type="button" value="Ответить"></form>`);
                        let next_btn = ``;
                        if (data.is_last) {
                            next_btn = `<input type="button" value="Следующий вопрос" id="next-btn" onclick="next()" style="display: none;" disabled="">`;
                        }
                        else {
                            next_btn = `<input type="button" value="Следующий вопрос" id="next-btn" onclick="next()" style="display: none;">`;
                        }
                        let prev_btn = ``;
                        if (data.num_of_question === 1) {
                            prev_btn = `<input type="button" value="Предыдущий вопрос" id="prev-btn" onclick="prev()" style="display: none;" disabled="">`;
                        }
                        else {
                            prev_btn = `<input type="button" value="Предыдущий вопрос" id="prev-btn" onclick="prev()" style="display: none;">`;
                        }
                        let finish_btn = ``;
                        if (data.is_last) {
                            finish_btn = `<input type="button" value="Завершить тестирование" id="finish-btn" onclick="finish()" style="display: none;">`;
                        }
                        else {
                            finish_btn = `<input type="button" value="Завершить тестирование" id="finish-btn" onclick="finish()" style="display: none;" disabled="">`;
                        }
                        $('#completion').append(next_btn, prev_btn, finish_btn);
                   }
                });
            }
            function finish() {
                $.ajax({
                    method: 'GET',
                    url: '{% url 'finish_test' test_id=some_test.id %}',
                    data: {},
                    success: function (data) {
                        window.location.replace(data.redirect_url);
                    }
                });
            }
        </script>
    {% endblock javascript %}

</body>


</html>