<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'esl_app/tests.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
</head>
<body>
{#        {% if list %}#}
{#            <ul>#}
{#                {% for test in list %}#}
{#                    <li><a href="/tests/{{test.id}}/">{{test.test_name}}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% else %}#}
{#            <p>Нет тестов</p>#}
{#        {% endif %}#}

</body>
</html>