<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'esl_app/tests.css' %}">
    <link rel="stylesheet" href="{% static 'esl_app/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
</head>
<body>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <a href="{% url 'main' %}" class="navbar-brand navbar-logo-text d-flex align-items-center col-md-3 mb-2 mb-md-0">
                ESL PORTAL
              </a>

              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'about' %}" class="nav-link px-2 link-dark">О нас</a></li>
                  <li><a href="{% url 'contacts' %}" class="nav-link px-2 link-dark">Контакты</a></li>
              </ul>

              <div class="col-md-3 text-end">
                {% if is_authenticated %}
                    <a role="button" class="btn btn-primary" href="{% url 'profile' %}">Профиль</a>
                    <a role="button" class="btn btn-primary" href="{% url 'tests' %}">Тесты</a>
                    <a role="button" class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a role="button" class="btn btn-outline-primary me-2" href="{% url 'login' %}">Войти</a>
                    <a role="button" class="btn btn-primary" href="{% url 'register' %}">Регистрация</a>
                {% endif %}
              </div>
            </header>
        </div>
        <div class="container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start ms-2">
                {% if finished_param is None %}
                    <a role="button" class="btn btn-primary" href="{% url 'tests' %}">Все тесты</a>
                    <a role="button" class="btn btn-light btn-outline-primary" href="{% url 'tests' %}?finished=1">Завершенные тесты</a>
                    <a role="button" class="btn btn-light btn-outline-primary" href="{% url 'tests' %}?finished=0">Непройденные тесты</a>
                {% elif finished_param == 1 %}
                    <a role="button" class="btn btn-light btn-outline-primary" href="{% url 'tests' %}">Все тесты</a>
                    <a role="button" class="btn btn-primary" href="{% url 'tests' %}?finished=1">Завершенные тесты</a>
                    <a role="button" class="btn btn-light btn-outline-primary" href="{% url 'tests' %}?finished=0">Непройденные тесты</a>
                {% else %}
                    <a role="button" class="btn btn-light btn-outline-primary" href="{% url 'tests' %}">Все тесты</a>
                    <a role="button" class="btn btn-light btn-outline-primary" href="{% url 'tests' %}?finished=1">Завершенные тесты</a>
                    <a role="button" class="btn btn-primary" href="{% url 'tests' %}?finished=0">Непройденные тесты</a>
                {% endif %}
            </div>
        </div>
        {% if list %}
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for test in list %}
                            <div class="col card shadow-sm m-3">
                                <div class="card-body row">
                                    <div class="align-self-start mb-2">
                                        <h2 class="card-text">{{ test.test_name }}</h2>
                                        <p class="card-text">{{ test.test_short_description }}</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center align-self-end">
                                        <a role="button" class="btn btn-sm btn-outline-secondary" href="{% url 'test' test_id=test.id %}">Перейти</a>
                                        <small class="text-muted">{{ test.level }} {{ test.aspect }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">Тестов нет :(</h1>
            </div>
        {% endif %}
</body>
</html>